.alphabet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  .alphabet-letter {
    font-size: 130px;
    font-weight: bold;
  }
}

@media (max-width: 600px), (max-height: 600px) {
  .alphabet {
    .alphabet-letter {
      font-size: 100px;
    }
  }
}
