.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  position: relative;
  overflow: hidden;

  .timer-time {
    font-size: 100px;
    font-weight: bold;
  }

  .timer-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 0%;
    background: rgba(0, 0, 0, 0.15);
    transition: width linear 1s;
  }

  &.ending {
    .timer-time {
      color: red;
    }

    .timer-progress {
      background: rgba(255, 0, 0, 0.15);
    }
  }
}

@media (max-width: 600px), (max-height: 600px) {
  .timer {
    .timer-time {
      font-size: 65px;
    }
  }
}
